html{
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
}
body{
  padding: 20px;
}
h2, h4, p{
  margin: 0;
}
*, *:before, *:after{
   box-sizing:inherit;
}
#card {
	height:100%;
	box-shadow: 1px 2px 5px 4px rgba(0,0,0,0.23);
	border-radius: 5px;
	overflow: hidden; 
}
#top-section{
  width:100%;
  height:33%;
  padding: 25px;
 }
#bottom-section{
  width:100%;
  height:67%;
  color: #e5eff5;
  
}
#bottom-left-section{
  width:100%;
  height:50%;
  background-color: #2EA69A;
  vertical-align: top;
  padding: 25px;
  
}
#bottom-rigth-section{
  width:100%;
  height:50%; 
  background-color: #4EBFB4;
  vertical-align: top;
  padding: 25px;
}
#top-section h2{
  color: #2EA69A;
  margin-bottom:20px;
}
#top-section h4{
  color: #c0df34;
   margin-bottom:15px;
}
#top-section p{
  color:#98a6bd;
}
button{
  color: #e5eff5;
  background-color: #c0df34;
  border: none;
  width:100%;
  padding: 10px;
  border-radius: 5px;
  transition: .3s;
}
button:hover{
  cursor:pointer;
  background-color: #AFBF30;
}
button:active{
  background-color: #8C9926;
  transform: scale(0.95); 
}
#subs-price{
  font-weight: 700;
  font-size:1.4rem;
  
}
#bottom-left-section h4{
  margin-bottom: 15px;
}
#price-frequency{
  position: relative;
  top: -3px;
  font-size: .8rem;
  opacity: .7;
  margin-left: 5px;
}
#price-conteiner{
 margin-bottom: 10px; 
}
#bottom-left-section p{
  margin-bottom: 35px;
  font-size: .9rem;
}
ul{
  padding: 0;
  list-style: none;
  font-size: .8rem;
  opacity: .8;
}
@media (min-width: 720px){
  #card {
    width: 550px;
    height: 400px;
  }
#top-section{
  height:45%;
 }
#bottom-section{
  height:55%; 
}
  #bottom-left-section, #bottom-rigth-section{
   width: 50%; 
   display: inline-block;
   height:100%;
  }
}
